<div class="row animated fadeIn fast"
     *ngIf="!cargando">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <input type="text"
                       class="form-control"
                       #txtTermino
                       (keyup)="buscar(txtTermino.value)"
                       placeholder="Buscar medico...">       
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="cargando">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <!-- Loader -->
                <div class="alert alert-success text-center">
                    <h4 class="alert-heading">Cargando...</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                </div>   
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a type="button" 
                        class="btn btn-success pull-right"
                        routerLink="/dashboard/medico/nuevo"
                >
                <i class="fa fa-user-md"></i>
                    Crear Medico
                </a>
                <h4 class="card-title">Medicos ( {{ medicos.length }} )</h4>
                <h6 class="card-subtitle">Medicos registrados en la aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center">
                                    <img 
                                        [src]="medico.img | imagen: 'medicos'" 
                                        [alt]="medico.nombre"
                                        class="avatar"
                                        (click)="abrirModal(medico)"
                                    >
                                </td>
                                <td>{{ medico.nombre }}</td>
                                <td class="text-nowrap text-center w100">
                                    <a [routerLink]="['/dashboard/medico', medico.id]" 
                                       data-toggle="tooltip" data-original-title="Editar"> 
                                       <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <a (click)="borrarMedico(medico)"
                                       data-toggle="tooltip" 
                                       data-original-title="Borrar"> 
                                       <i class="fa fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-secondary">Anterior</button>
                <button type="button" class="btn btn-secondary pull-right">Siguiente</button>
            </div>
        </div>
    </div>
</div>