<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medico</h4>
                <h6 class="card-subtitle">Actualizar medico</h6>
                <form class="form-horizontal p-t-20"
                      [formGroup]="formMedico" 
                      (ngSubmit)="editarMedico()"  
                      autocomplete="off"
                >
                    
                    <!-- Foto -->
                    <div class="form-group row" *ngIf="medicoSeleccionado">
                        <label for="exampleInputuname4" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9 text-center">
                            <div class="input-group">
                                <img 
                                [src]="medicoSeleccionado.img | imagen: 'medicos'" 
                                [alt]="medicoSeleccionado.nombre"
                                class="w200"
                            >
                            </div>
                        </div>
                    </div>

                    <!-- Nombre -->
                    <div class="form-group row"
                        [ngClass]="{'has-danger': formMedico.get('nombre').hasError('required') && formMedico.get('nombre').touched}"
                    >
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                       class="form-control" 
                                       id="exampleInputuname3" 
                                       placeholder="Nombre"
                                       formControlName="nombre"
                                       [ngClass]="{'form-control-danger': formMedico.get('nombre').hasError('required') && formMedico.get('nombre').touched}"
                                >
                            </div>
                        </div>
                        <small class="form-control-feedback"
                        *ngIf="formMedico.get('nombre').hasError('required') && formMedico.get('nombre').touched"> 
                            Campo obligatorio
                        </small>
                    </div>

                    <!-- Hospital -->
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospital*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-heart"></i></div>
                                <select class="form-control"
                                        formControlName="hospital"
                                >
                                    <option value="">Seleccionar Hospital..</option>
                                    <option *ngFor="let hospital of hospitales" [value]="hospital.id">{{ hospital.nombre }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" 
                                    class="btn btn-success waves-effect waves-light"
                                    [disabled]="formMedico.invalid"
                            >
                                <i class="ti-save"></i>
                                Guardar cambios
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">Hospital asignado: {{ hospitalSeleccionado.nombre }}</h6>
                <img 
                    [src]="hospitalSeleccionado.img | imagen: 'hospitales'" 
                    [alt]="hospitalSeleccionado.nombre"
                    class="w200"
                >
            </div>
        </div>
    </div>
</div>