#fondo-modal{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}


.img-avatar{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}