<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-danger" 
                type="button"
                (click)="cambiarValor(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input type="number"
           min="0" 
           max="100" 
           class="form-control" 
           placeholder="Progreso"
           (ngModelChange)="onChange($event)"
           [(ngModel)]="progreso">
    <span class="input-group-btn">
        <button class="btn btn-success" 
                type="button"
                (click)="cambiarValor(5)">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>      